<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .center {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="row center">

        <form class="center row" method="post" action="/create_file">
            <div class="input-field">
                <i class="material-icons prefix">file</i>
                <input id="file" type="text" class="validate" name="file_name" required>
                <label for="nickname">Filename</label>
            </div>
            <button class="btn btn-large waves-effect waves-light" type="submit" >Create</button>
        </form>

        <table>
            <thead>
            <tr>
                <td>File</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{file}}</td>
                    <td><a class="btn" href="/edit/{{file}}">Edit</a></td>
                    <td><a class="btn" href="/delete/{{file}}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
